<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628814403087-j1j0rveh4jgt5tp36jjsc7mu4p88epu8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628814403087-j1j0rveh4jgt5tp36jjsc7mu4p88epu8</string>
	<key>API_KEY</key>
	<string>AIzaSyAVHLl3bd7-vgLX0f322R6gdU_PRc40JRg</string>
	<key>GCM_SENDER_ID</key>
	<string>628814403087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.balltalk.balltalkapp</string>
	<key>PROJECT_ID</key>
	<string>balltalkbeta</string>
	<key>STORAGE_BUCKET</key>
	<string>balltalkbeta.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628814403087:ios:390618e443596ea42a357a</string>
</dict>
</plist>